/* Moment */
.moments {
    padding: 15px !important;
    margin-bottom: 10px !important;
}

.moments .moments_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.moments_info p {
    color: var(--skin-color);
    cursor: pointer;
}

.all_moments {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 10px !important;
}

.all_moments::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.all_moments .my_moments {
    width: 110px;
    position: relative;
    margin-right: 10px !important;
}

.all_moments .my_moments:last-child {
    margin-right: 0 !important;
}

.my_moments span {
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 23px;
    font-size: 40px !important;
    line-height: 40px;
    padding: 0 43.2px !important;
    border-radius: 0 0 9px 9px;
    color: var(--text-color-900);
    background-color: var(--bg-gray-500);
    opacity: 50%;
}

.my_moments img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 629px) {
    /* Header */
    .main_container header {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        border-bottom: 1px solid var(--bg-gray-500);
        background-color: var(--bg-color-900);
        z-index: 2;
    }

    header .site_name {
        display: flex;
        align-items: center;
        padding-left: 10px !important;
    }

    .site_name a i,
    .site_name a span {
        font-size: 30px !important;
        font-weight: 600;
    }

    .site_name a i {
        display: none;
    }

    header .search_bar {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    header .search_bar .fa-search {
        position: absolute;
        top: 17px;
        left: 13px;
        color: var(--text-gray-100);
    }

    header .search_bar input {
        width: 100%;
        height: 35px;
        padding: 0 10px 0 40px !important;
        border-radius: 15px;
        border: none;
        background-color: var(--bg-gray-500);
    }

    header .search_bar input::placeholder {
        color: var(--text-gray-100);
    }

    header .search_bar input:focus {
        outline: 2px solid var(--text-gray-100);
    }

    header .header_icon {
        display: flex;
        justify-content: right;
    }

    .header_icon #search {
        display: none;
    }

    .header_icon a i {
        min-width: 50px;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px !important;
        cursor: pointer;
    }

    .header_icon a i:hover {
        background-color: var(--bg-gray-500);
    }

    .header_icon a i:active {
        background-color: var(--bg-color-900);
    }

    /* Section */
    section {
        padding: 50px 0 0 0 !important;
    }
}