/* content */
.upload_image {
    width: 70%;
    height: 100vh;
    padding: 10px !important;
    overflow-y: auto;
    display: none;
}

.upload_image form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.upload_image img {
    width: 500px;
    height: 500px;
}

.upload_image button {
    padding: 10px !important;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-color: var(--skin-color);
    cursor: pointer;
}

.content .edit_title {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 10px !important;
    border-bottom: 1px solid var(--bg-light-100);
    background-color: var(--bg-color-900);
    margin-bottom: 10px !important;
    position: sticky;
    top: 0;
    z-index: 1;
}

.edit_title .title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title i {
    width: 40px;
    height: 40px;
    font-size: 20px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.title i:hover {
    cursor: pointer;
    background-color: var(--bg-gray-500);
}

.title i:active {
    background-color: var(--bg-color-900);
}

.title h1 {
    font-size: 20px !important;
}

/* .content .row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px !important;
} */

.edit_form {
    position: relative;
}

.edit_form span {
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 14px !important;
    color: var(--text-gray-100);
}

.edit_form input, .edit_form textarea, .edit_form select {
    width: 100%;
    padding: 25px 15px 5px !important;
    border-radius: 20px;
    border: none;
    background-color: var(--bg-gray-500);
    resize: none;
}

.edit_form select {
    padding-left: 10px !important;
}

.edit_form input:focus, .edit_form textarea:focus, .edit_form select:focus {
    outline-color: var(--bg-light-100);
}

.content .profile {
    position: relative;
}

.profile #cover_photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.profile #cover {
    position: absolute;
    right: 30px;
    bottom: 20px;
    background-color: var(--bg-gray-500);
}

.profile .upload_cover {
    position: absolute;
    right: 80px;
    bottom: 40px;
    display: none;
    border-radius: 10px 10px 0 10px;
    background-color: var(--bg-gray-500);
}

.upload_cover p:first-child {
    padding: 5px 10px !important;
    border-radius: 5px 5px 0 0;
}

.upload_cover p:nth-last-of-type(1) {
    padding: 5px 10px !important;
    border-radius: 0 0 0 5px;
}

.upload_cover p:hover {
    cursor: pointer;
    background-color: var(--bg-light-100);
}

.profile #profile_photo {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    bottom: -60px;
    padding: 5px !important;
    background-color: var(--bg-color-900);
}

.profile #photo {
    position: absolute;
    left: 150px;
    bottom: -50px;
    background-color: var(--bg-gray-500);
}

.profile .upload_photo {
    position: absolute;
    left: 200px;
    bottom: -35px;
    display: none;
    border-radius: 10px 10px 10px 0;
    background-color: var(--bg-gray-500);
}

.upload_photo p:first-child {
    padding: 5px 10px !important;
    border-radius: 5px 5px 0 0;
}

.upload_photo p:nth-last-of-type(1) {
    padding: 5px 10px !important;
    border-radius: 0 0 5px 0;
}

.upload_photo p:hover {
    cursor: pointer;
    background-color: var(--bg-light-100);
}

.content .box {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: end;
    margin-top: 10px !important;
    padding-right: 20px !important;
}

.box i {
    width: 35px;
    height: 35px;
    font-size: 20px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid var(--text-color-900);
    cursor: pointer;
}

/* Info */
.content .info {
    padding: 0 20px !important;
    margin-top: 50px !important;
    margin-bottom: 30px !important;
}

.info .box {
    display: flex;
}

.info #name {
    font-size: 20px !important;
    margin-bottom: 5px !important;
    display: flex;
    align-items: center;
    gap: 5px;
}

.info #username {
    color: var(--text-gray-100);
    margin-bottom: 20px !important;
}

.info .people {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 20px !important;
}

.info #followers,
.info #following {
    display: flex;
    gap: 5px;
    font-weight: 600;
    margin-left: 0 !important;
    color: var(--text-color-900);
}

#followers p,
#following p {
    font-weight: 100;
    color: var(--text-gray-100);
}

.people #follow {
    padding: 5px 20px !important;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    background-color: var(--skin-color);
}

.info #bio {
    margin-bottom: 20px !important;
}

.info i {
    margin-right: 20px !important;
    margin-bottom: 10px !important;
    color: var(--text-gray-100);
}

.info span {
    text-transform: capitalize;
    font-weight: 100;
    margin-left: 5px !important;
    color: var(--text-gray-100);
}

.info a {
    font-weight: 100;
    text-transform: lowercase;
    margin-left: 5px !important;
    color: var(--skin-color);
}

@media (max-width: 918px) {
    .main_content .profile_section {
        display: block;
    }

    /* content */
    .profile_section .content {
        width: 100%;
    }

    .profile_section .suggestion {
        display: none;
    }
}