:root {
    /* Light Color */
    --color-100: #111;
    --color-900: #eee;
    --bg-color-500: #444;
    --bg-color-100: #aaa;
    --text-color-100: #666;

    /* Dark Color */
    /* --color-100: #eee;
    --color-900: #111;
    --bg-color-500: #aaa;
    --bg-color-100: #444;
    --text-color-100: #666; */

    --skin-color: #20e;

    --gap: 0.5rem;
    --border-radius: 0.5rem;
    --border-line: 1px solid var(--bg-color-500);
    --box-shadow: 0 0 10px #bbb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-100);
}

body {
    background-color: var(--color-900) !important;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-color-500);
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color-100);
}

a {
    text-decoration: none !important;
}

li {
    list-style: none !important;
}

.img {
    min-width: 4rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    object-fit: cover;
}

.page-contanier {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding-left: 15rem;
}

section {
    width: 100%;
    padding: 1rem;
}

/* Moments start */
.moments {
    max-width: 50rem;
    display: flex;
    align-items: center;
    gap: var(--gap);
    overflow: auto;
}

.moments::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.my-moments {
    width: 10rem;
    min-width: 10rem;
    border: var(--border-line);
    border-radius: var(--border-radius);
}

.my-moments img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: var(--border-radius);
}
/* Moments end */