:root {
    /* Light Color */
    --color-100: #111;
    --color-900: #eee;
    --bg-color-500: #444;
    --bg-color-100: #ccc;
    --text-color-100: #666;

    /* Dark Color */
    /* --color-100: #eee;
    --color-900: #111;
    --bg-color-500: #aaa;
    --bg-color-100: #444;
    --text-color-100: #666; */

    --skin-color: #20e;

    --gap: 0.5rem;
    --border-radius: 0.5rem;
    --border-line: 1px solid var(--bg-color-100);
    --box-shadow: 0 0 10px var(--bg-color-100);
}

a {
    text-decoration: none !important;
}

.active {
    border-bottom: 1px solid var(--bg-color-100) !important;
    font-weight: 500 !important;
}

.profile-img {
    min-width: 4rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    object-fit: cover;
}

section {
    width: 100%;
    padding: 1rem;
    /* position: relative; */
    overflow: auto;
}

/* Moments start */
.moments {
    display: flex;
    align-items: center;
    gap: var(--gap);
    overflow-x: auto;
}

.moments::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.my-moments {
    border: var(--border-line);
    border-radius: var(--border-radius);
}

.my-moments img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}
/* Moments end */

/* Profie Start */
.profile-cover-img {
    height: calc(10rem + 5vh);
    object-fit: cover;
}

.profile-photo {
    width: calc(8rem + 2vw);
    object-fit: cover;
    position: absolute;
    left: 2rem;
    top: 10rem;
    outline: 5px solid var(--color-900);
}
/* Profile End */

/* Message Start */
.message-header {
    height: 5rem;
}

.message-body {
    height: calc(100vh - 5rem);
}
/* Message End */

@media (max-width: 992px) {
    /*  */
}

@media (max-width: 576px) {
    section {
        height: calc(100vh - 3.5rem);
        margin-bottom: 3.5rem;
        padding: 0.5rem;
    }

    .home-section {
        height: calc(100vh - 6.5rem);
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
    }

    .profile-section {
        height: 100vh;
        margin-bottom: 0;
        z-index: 99;
    }

    .my-moments img {
        width: 8rem;
        height: 8rem;
    }
}